In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('iphone_purchase_records.csv')

In [4]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [5]:
df.tail()

     Gender  Age  Salary  Purchase Iphone
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   Salary           400 non-null    int64
 3   Purchase Iphone  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [8]:
df.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [9]:
df.columns

Index(['Gender', 'Age', 'Salary', 'Purchase Iphone'], dtype='object')

In [10]:
df.shape

(400, 4)

In [11]:
df.isnull().sum()

Gender             0
Age                0
Salary             0
Purchase Iphone    0
dtype: int64

In [12]:
df.duplicated().sum()

20

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.sample(3)

    Gender  Age  Salary  Purchase Iphone
39  Female   27   31000                0
60    Male   27   20000                0
52  Female   29   83000                0

In [14]:
df.duplicated().sum()

0

In [16]:
df.shape

(380, 4)

In [18]:
df['Purchase Iphone'].value_counts(normalize=True)*100

Purchase Iphone
0    63.157895
1    36.842105
Name: proportion, dtype: float64

In [19]:
df['Gender']=df['Gender'].replace({'Male':0, 'Female':1})

In [20]:
df

     Gender  Age  Salary  Purchase Iphone
0         0   19   19000                0
1         0   35   20000                0
2         1   26   43000                0
3         1   27   57000                0
4         0   19   76000                0
..      ...  ...     ...              ...
395       1   46   41000                1
396       0   51   23000                1
397       1   50   20000                1
398       0   36   33000                0
399       1   49   36000                1

[380 rows x 4 columns]

In [27]:
x=df.iloc[:,0:3].values
y=df.iloc[:,-1].values

In [29]:
#Train_test_Split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [31]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [32]:
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [36]:
# Model Building
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [48]:
y_pred=model.predict(x_test)

In [40]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [41]:
acc=accuracy_score(y_pred,y_test)
acc*100

0.8026315789473685

In [42]:
cm=confusion_matrix(y_pred,y_test)
cm

array([[40,  7],
       [ 8, 21]], dtype=int64)

In [45]:
cr=classification_report(y_pred,y_test)
print(cr)

              precision    recall  f1-score   support

           0       0.83      0.85      0.84        47
           1       0.75      0.72      0.74        29

    accuracy                           0.80        76
   macro avg       0.79      0.79      0.79        76
weighted avg       0.80      0.80      0.80        76